<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Building resume. Home page</title>
</head>
<body>
<h2>Building resume. Home page</h2>
<a href="http://localhost:8080/resume/build?path=">Page for building html by properties file</a>
<br>
<a href="http://localhost:8080/resume">List resumes from db</a>
<br>
<a href="http://localhost:8080/resume/db?id=">Resume by id from db</a>
</body>
</html>