<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title th:inline="text">Сгенерировано на основе [[${idResume}]]</title>
</head>
<body th:inline="text">
<div class="container">
    <h1 class="text-center">Резюме</h1>
    <h2 class="text-center">на должность [[${careerTarget}]]</h2>
    <br>
    <div class="row">
        <div class="col-8">
            <table class="table">
                <tr>
                    <td class="text-right">ФИО:</td>
                    <td>[[${name}]]</td>
                </tr>
                <tr>
                    <td class="text-right">Дата рождения:</td>
                    <td>[[${dateOfBorn}]]</td>
                </tr>
                <tr>
                    <td class="text-right">Телефон:</td>
                    <td>
                        <span th:each="phone:${phones}">
                            <span th:text="${phone}"/>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">e-mail:</td>
                    <td>
                        <span th:each="email:${emails}">
                            <span th:text="${email}"/>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="text-right">Skype:</td>
                    <td>[[${skype}]]</td>
                </tr>
            </table>
        </div>
        <div class="col-4">
            <img th:src="${avatarUrl}" alt="avatar" class="img-fluid">
        </div>
    </div>
    <br>
    <div class="col-12">
        <h2>Цель:</h2>
        <div th:each="target:${targets}">
            <div th:text="${target}"/>
        </div>
    </div>
    <div class="col-12">
        <h2>Опыт работы:</h2>
        <div th:each="experience:${experiences}">
            <div th:text="${experience}"/>
        </div>
    </div>
    <div class="col-12">
        <h2>Используемые технологии:</h2>
        <span th:each="skill:${skills}">
            <span th:text="${skill}"/>
        </span>
    </div>
    <div class="col-12">
        <h2>Образование:</h2>
        <div th:each="baseEducation:${baseEducations}">
            <div th:text="${baseEducation}"/>
        </div>
    </div>
    <div class="col-12">
        <h2>Дополнительное образование:</h2>
        <div th:each="addedEducation:${addedEducations}">
            <div th:text="${addedEducation}"/>
        </div>
    </div>
    <div class="col-12">
        <h2>Дополнительная информация:</h2>
        <p>[[${otherInfo}]]</p>
    </div>
</div>
</body>
</html>